{% extends 'base.html' %}
{% block conteudo %}
<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h2 class="form-sign-heading">Cadastro</h2>
		</div>
	</div>
	<div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Insira dados abaixo para efetuar cadastro
                    </div>
					<form action="{% url 'usuario:cadastro' %}" class="form-sign" method="POST">
						{% csrf_token %}
					<div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Nome de Usuário: </label>
										{{ form.username }}
										<br>
										<label>Nome: </label>
										{{ form.first_name }}
										<br>
										<label>Email: </label>
										{{ form.email }}
										<br>
										<label>Senha: </label>
										{{ form.password }}
										<button class="btn btn-lg btn-primary btn-block" type="submit">Registrar</button>
                                    </div>
                                </div>
                            </div>
                    </div>
					</form>
				</div>
			</div>
	</div>
{% endblock %}