{% extends 'base.html' %}
{% block conteudo %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <h2>Transportes Cadastrados - {{camara.name}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="painel-body">
                {% if not transports_dict %}
                    <span class="error-message"> Nenhum Transporte Realizado</span>
                {% endif %}
                <div class="row">
                
                    <div class="container">
                            
                            <table class="table">
                            <thead> 
                                <tr>
                                    <th>Id</th>
                                    <th>Responsável</th>
                                    <th>Órgão Transportado</th>
                                    <th><span class="pull-right">Ações</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for transport in transports_dict %}
                                <tr>
                                    <td><a href="#">Transporte {{transport.id}}</a></td>
                                    <td><a href="#"> {{transport.responsible}}</a></td>
                                    <td><a href="#"> {{transport.organ}}</a></td>
                                    <td>
                                        <a href="{% url 'camara:reports_list' camara.name transport.id %}" class="btn btn-primary pull-right">Mostrar Relatório</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            </table>
                           
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
