[run]
source = .
omit =
    */__init__.py
    */admin.py
    */tests.py
    */migrations/*
    */settings.py
    */wsgi.py
    */apps.py
    manage.py
    */forms.py
    */models.py
    */urls.py
    */settings_deploy.py

[report]
exclude_lines = 
    import
    class

[html]
directory = .code_coverage
title = Cobertura de Código
extra_css = static/mdb/css/mdb.min.css
