<html>
<head>
  <title>{{camara.name}}</title>
  <style>
    body {
      background-color: #f7f7f7;
    }
  </style>
</head>
<body>
<div class="row">

    <div class="container">

        <table class="table">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Temperatura</th>
                    <th>Está Trancada?</th>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <td>teste</td>
                    <td>teste</td>
                    <td>teste</td>
                    <td>teste</td>
                    <td>teste</td>
                </tr>
                
            </tbody>
        </table>

    </div>

</div>
</body>
</html>
