{% extends 'base.html' %}
{% block conteudo %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <h2>Relatório - Câmara {{camara.id}} - Tranporte {{transport.id}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="painel-body">
                {% if not reports_dict %}
                    <span class="error-message"> Nenhuma câmara cadastrada </span>
                {% endif %}
                <div class="row">
                
                    <div class="container">
                            
                            <table class="table">
                            <thead> 
                                <tr>
                                    <th>Data</th>
                                    <th>Latitude</th>
                                    <th>Longitude</th>
                                    <th>Temperatura</th>
                                    <th>Está Trancada?</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for report in reports_dict %}
                                <tr>
                                    <td>{{report.date}}</td>
                                    <td>{{report.latitude}} </td>
                                    <td>{{report.longitude}}</td>
                                    <td>{{report.temperature}}</td>
                                    <td>{{report.is_locked}}</td>                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                            </table>
                           
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
