{% extends 'base.html' %}
{% block conteudo %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <h2>Relatório - Câmara {{camara.id}} - Tranporte {{transport.id}}</h2>
            <a href="{% url 'camara:generate_pdf' %}" class="btn btn-primary pull-right">PDF</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="painel-body">
                {% if not camaras_dict %}
                    <span class="error-message"> Nenhuma câmara cadastrada </span>
                {% endif %}
                <div class="row">
                
                    <div class="container">
                            
                            <table class="table">
                            <thead> 
                                <tr>
                                    <th>Nome</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for camara in camaras_dict %}
                                <tr> 
                                    <td>{{camara.name}}</td>
                                    {% for transport in camara.transports%}
                                    <tr>
                                        <th>{{transport.responsible}}</th>
                                        <tr>
                                            <th>{{transport.organ}}</th>
                                        </tr>
                                    </tr>  
                                    {% for report in transport.reports %}
                                    <tr>
                                            <tr>
                                                <th>{{report.temperature}}</th>
                                                <th>{{report.latitude}}</th>
                                                <th>{{report.longitude}}</th>
                                                <th>{{report.is_locked}}</th>
                                                <th>{{report.date}}</th>
                                            </tr>
                                        </tr>  
                                </tr>
                                        {% endfor %}
                                        {% endfor%}
                                {% endfor %}
                            </tbody>
                            </table>
                           
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}