{% extends 'base.html' %}
{% block conteudo %}
<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h2 class="form-sign-heading">Cadastro de Câmara</h2>
		</div>
	</div>
	<div class="row">
  	<div class="col-lg-12">
    	<div class="panel panel-default">
      	<div class="panel-heading">
        	Cadastro de camara
        </div>
					<form class="form-sign" method="POST">
						{% csrf_token %}
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-6">
									<div class="form-group">
										<label>Nome da Câmara: </label>
											{{ form.name }}
									</div>
								</div>
								<div class="col-lg-2">
									<div class="form-group">
										<button class="btn btn-primary btn-block" type="submit">Registrar</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
{% endblock %}



