{% extends 'base.html' %}
{% block conteudo %}
<div id="page-wrapper">
    
    <div class="container">
        <div class="row">
            {% if not camara_reports %}
                <h4>Nenhum report registrado para a câmara</h4>
            {% endif %}
            {% for report in camara_reports %}
            <div class="col-md-4">
                <h4>Report {{ forloop.counter }}</h4>
                <p>Latitude: {{ report.latitude }}</p>
                <p>Longitude: {{ report.longitude }}</p>
                <p>Data: {{ report.date }}</p>
                <p>Temperatura: {{ report.temperature }}</p>
            </div> 
            {% endfor %}
        </div>
    </div>
    
    
</div>
{% endblock %}