{% extends 'base.html' %}
{% block conteudo %}
<div id="page-wrapper">
    <!--<div class="container">
        <div class="row">
            {% for report in camara_reports %}
            <div class="col-md-4">
                <h4>Report {{ forloop.counter }}</h4>
                <p>Latitude: {{ report.latitude }}</p>
                <p>Longitude: {{ report.longitude }}</p>
                <p>Data: {{ report.date }}</p>
                <p>Temperatura: {{ report.temperature }}</p>
            </div> 
            {% endfor %}
        </div>
    </div>-->

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><b>{{camara.name}}</b></h1>
                {% if not camara_reports %}
                <span class="error-message">Nenhum report registrado para a câmara</span>
            {% endif %}
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-8">
                <div class="card card-height">  
                    <div class="card-body">
                        <h3>Variação de temperatura</h3>
                        <div id="chart_div_temperatures" class="charts" data-temperatures="{{ temperaturas }}"></div>
                    </div>  
                </div>
            </div>
        
        

            <div class="col-md-4">
                <div class="card card-height">  
                    <div class="card-body">
                        <center>
                            <h3>Informações</h3>
                            <p><b>Nome:</b> {{ camara.name }}</p>
                            <p><b>Órgão:</b> {{ camara.organ }}</p>
                            <p><b>Responsável:</b> {{ camara.responsible }}</p>
                            <p><b>Status:</b> 
                            {% with camara_reports|last as last %}
                                {% if last.is_locked == 1 %}
                                    Fechada
                                    {% else %}
                                    Aberta
                                {% endif %}
                            {% endwith %}
                            </p>
                            <a href="#" class="btn btn-primary">Relatório Completo</a>
                        </center>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                    <div class="card card-height">  
                        <div class="card-body">
                            <center>
                                <h3>Temp. Atual</h3>
                                {% if not camara_reports %}
                                    <div id="chart_div_current_temperature" data-current-temperature="0"></div>
                                {% endif %}
                                {% with camara_reports|last as last %}
                                    <div id="chart_div_current_temperature" data-current-temperature="{{ last.temperature }}"></div>
                                {% endwith %} 
                            </center>
                        </div>
                    </div>
                </div>
            
            <div class="col-md-8">
                <div class="card card-height">  
                    <div class="card-body">
                        <center>
                            <h3>Rastreio da caixa</h3>
                            <div>(Google Maps API)</div>
                        </center>
                    </div>
                </div>
            </div>   
        </div>
    </div>        
</div>
{% endblock %}
