{% extends 'base.html' %}
{% block conteudo %}
<div id="page-wrapper">
    
    <div class="container">
        <div class="row">
            {% if not camara_reports %}
                <h4>Nenhum report registrado para a câmara</h4>
            {% endif %}

            

            {% for report in camara_reports %}
            <div class="col-md-4">
                <!--<h4>Report {{ forloop.counter }}</h4>
                <p>Latitude: {{ report.latitude }}</p>
                <p>Longitude: {{ report.longitude }}</p>
                <p>Data: {{ report.date }}</p>
                <p>Temperatura: {{ report.temperature }}</p>-->
            </div> 
            {% endfor %}
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{camara.name}}</h1>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="card temperature-card">  
                    <div class="card-body">
                        <h3>Variação de temperatura</h3>
                        <div id="chart_div_temperatures"></div>
                    </div>  
                </div>
            </div>
        

            <div class="col-md-6">
                <div class="card temperature-card">  
                    <div class="card-body">
                        <h3>Informações</h3>
                        <p>Nome: {{ camara.name }}</p>
                        <p>Órgão: {{ camara.organ }}</p>
                        <p>Responsável: {{ camara.responsible }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card">  
                    <div class="card-body">
                        <center>
                            <h3>Última temperatura registrada</h3>
                            <div id="chart_div_current_teperature"></div>
                        </center>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">  
                    <div class="card-body">
                        <center>
                            <h3>Rastreio da caixa</h3>
                            <div>(Google Maps API)</div>
                        </center>
                    </div>
                </div>
            </div>   
        </div>
    </div>
    
    

    
   
        
</div>
<script type="text/javascript">
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawBasic);
    var teste = "[[0, 2], [1, -1]]";
    function drawBasic(){
            var data = new google.visualization.DataTable();
            data.addColumn('number', 'X');
            data.addColumn('number', 'ºC');
        
            data.addRows({{temperaturas}});
        
            var options = {
                hAxis: {
                    title: ''
                },
                vAxis: {
                    title: 'Temperatura'
                },
                backgroundColor: '#f1f8e9',
                width: 470,
                height: 400
            };
        
            var chart = new google.visualization.LineChart(document.getElementById('chart_div_temperatures'));
            chart.draw(data, options);
    }
    
    google.charts.load('current', {'packages':['gauge']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = google.visualization.arrayToDataTable([
        ['Label', 'Value'],
        ['', {% with camara_reports|last as last %}{{ last.temperature }}{% endwith %}]
      ]);

      var options = {
        width: 500, height: 320,
        redFrom: 0, redTo: 4,
        yellowColor: "#99d6ff", yellowFrom:-4, yellowTo: 0,
        minorTicks: 10,
        min: -4,
        max: 4
      };

      var chart = new google.visualization.Gauge(document.getElementById('chart_div_current_teperature'));     
      chart.draw(data, options);
    }        
</script>
{% endblock %}