{% extends 'base.html' %}
{% block conteudo %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <h2>Câmaras Cadastradas</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="painel-body">
                {% if not camaras_dict %}
                    <span class="error-message"> Nenhuma câmara cadastrada </span>
                {% endif %}
                <div class="row">
                {% for camara in camaras_dict %}
                    <div class="col-md-4">
                        <div class="card card-height-camara">
                            <div class="card-body">
                                <center>
                                    <h2 id="camara-name" class="card-title">{{camara.id}} - {{camara.name}}</h2>
                                    {% if not camara.transports %}
                                        <!--  DISPONIVEL -->
                                        <p class="card-text box-available">
                                            <i class="fa fa-circle"></i> Disponível
                                        </p>
                                        <a href="{% url 'transport:transport_cadastro' camara.id camara.name %}" class="btn btn-success btn-camara-card">Iniciar Transporte</a>
                                        <a href="{% url 'transport:transport_cadastro' camara.id camara.name %}" class="btn btn-danger btn-camara-card">Deletar câmara do sistema</a>
                                    {% else %}
                                        {% with camara.transports|last as last_transport %}
                                            {% if not last_transport.reports %}
                                            <!--  AGUARDANDO CONEXAO -->
                                            <p class="card-text box-waiting">
                                                <i class="fa fa-circle" aria-hidden="true"></i> Aguardando conexão...
                                            </p>
                                            <p>Responsável: {{ last_transport.responsible }}</p>
                                            <p>Órgão: {{ last_transport.organ }}</p>
                                            {% else %}
                                                {% with last_transport.reports|last as last_report %}
                                                    {% if last_report.enable == 0 %}
                                                    <!--  DISPONIVEL -->
                                                    <p class="card-text box-available">
                                                        <i class="fa fa-circle"></i> Disponível
                                                    </p>
                                                    <a href="{% url 'transport:transport_cadastro' camara.id camara.name %}" class="btn btn-success btn-camara-card">Iniciar Transporte</a>
                                                    <a href="{% url 'transport:transport_cadastro' camara.id camara.name %}" class="btn btn-danger btn-camara-card">Deletar câmara do sistema</a>
                                                    {%  elif last_report.enable == 1 %}
                                                    <!-- EM USO -->
                                                    <p class="card-text box-in-use">
                                                        <i class="fa fa-circle" aria-hidden="true"></i> Em uso
                                                    </p>
                                                    <a href="{% url 'transport:transport_info' last_transport.id camara.name %}" class="btn btn-primary">Ver Transporte</a>
                                                    <br><br>
                                                    <p>Responsável: {{ last_transport.responsible }}</p>
                                                    <p>Órgão: {{ last_transport.organ }}</p>
                                                    {% endif %}
                                                {% endwith %}
                                            {% endif %}
                                        {% endwith %}
                                    {% endif %}
                                </center>
                            </div>
                        </div>
                    </div> 
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
