{% extends 'base.html' %}
{% block conteudo %}
<div id="page-wrapper">
    <!--<div class="container">
        <div class="row">
            {% for report in camara_reports %}
            <div class="col-md-4">
                <h4>Report {{ forloop.counter }}</h4>
                <p>Latitude: {{ report.latitude }}</p>
                <p>Longitude: {{ report.longitude }}</p>
                <p>Data: {{ report.date }}</p>
                <p>Temperatura: {{ report.temperature }}</p>
            </div> 
            {% endfor %}
        </div>
    </div>-->
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h1><b>{{camara.name}}</b></h1>
                {% if not camara_reports %}
                    <span class="error-message">Nenhum report registrado para a câmara</span>
                {% endif %}
            </div>
        </div>
        
        <div class="row">
            <!-- renderiza o gráfico de temperaturas -->
            <div class="col-md-8">
                {% include "module_temperatures.html" %}
            </div>
            <!-- renderiza o card de info da câmara -->
            <div class="col-md-4">
                {% include 'module_information.html' %}
            </div>
        </div>

        <div class="row">
            <!-- renderiza o gráfico da temperatura atual --> 
            <div class="col-md-4">
                {% include "module_current_temperature.html" %}
            </div>
            <!-- renderiza o mapa do google maps -->
            <div class="col-md-8">
               {% include "module_google_maps.html" %}
            </div>   
        </div>
    </div>        
</div>
{% endblock %}
