@font-face{
    font-family: montserrat-extrabold;
    src: url(../fonts/montserrat/Montserrat-ExtraBold.ttf)
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-size: 16px;
}

#map {
    width: 100%;
    height: 200px;
    background-color: grey;
  }


.card-text{
    font-size: 16px !important;
}

.box-in-use{
    color: #cc0000 !important;
}

.box-available{
    color: green !important;
}

.box-waiting{
    color: #e6ac00 !important;
}

#page-wrapper{
    height: 100%;
}

p{
    font-size: 15px;
    color: #00bcd4 !important;
}

.card-height{
    height: 30.6rem;
}

.card-height-camara{
    height: 30rem;
}


.navbar-brand{
    font-size: 40px !important;
    font-family: montserrat-extrabold, sans-serif;
    font-weight: 800; 
    margin-top: 13px;
}

.text-sidebar{
    /*font-family: 'Montserrat', sans-serif;*/
    font-size: 16px;
    font-weight: 400;
}

@media (min-width: 768px) {
    .sidebar {
      z-index: 1;
      position: absolute;
      width: 250px;
      margin-top: 90px !important;
      margin-left: -8px;
    }
}

.container{
    width: 100% !important;
}

.sidebar ul li {
    border-bottom: none !important;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 25px 15px !important;
}

.navbar{
    padding: 8px;
}

.brand-part-1, h1{
    color: #00bcd4 !important;
}

.fa{
    vertical-align: middle;
}

.brand-part-2, .text-sidebar, h2, h3, h4{
    color: #ff9800 !important;
}

.card{
    padding: 25px;
    margin-bottom: 20px;
}

.error-message{
    color: #cc0000;
    font-weight: 500;
    font-size: 17px;
}

#camara-name{
    font-weight: 500;
}

.btn-camara-card{
    width: 70%;
}

.title-modules-report{
    background: #ff9701;
    color: white !important;
    margin-top: -25px;
    margin-bottom: 30px !important;
    margin-left: -25px;
    margin-right: -25px;
    padding: 15px;
}