{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TransOrg - Sistema de Trasporte de Órgãos para Transplante</title>

    <link href="{% static "css/main.css" %}" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="{% static "bootstrap/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <link href="{% static "mdb/css/mdb.min.css" %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static "bootstrap/vendor/metisMenu/metisMenu.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "bootstrap/dist/css/sb-admin-2.css" %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static "bootstrap/vendor/morrisjs/morris.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "bootstrap/vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="{% static "js/google-charts.js" %}"></script>
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'camara:listar_camaras' %}"><span class="brand-part-1">TRANS</span><span class="brand-part-2">ORG</span></a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
               
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-2x fa-fw"></i> <i class="fa fa-2x fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-2x fa-fw"></i>Perfil do Usuário</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-2x fa-fw"></i>Configurações</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-2x fa-fw"></i>Sair</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="{% url 'camara:listar_camaras' %}"><i class="fa fa-ambulance fa-2x fa-fw"></i> <span class="text-sidebar">Câmaras Rastreadas</span></a>
                        </li>
                        <li>
                            <a href="{% url 'usuario:cadastro' %}"><i class="fa fa-user fa-2x fa-fw"></i> <span class="text-sidebar">Cadastro de Usuários</span></a>
                        </li>
                        <li>
                            <a href='{% url "camara:camaras_cadastro" %}'><i class="fa fa-archive fa-2x fa-fw"></i> <span class="text-sidebar">Cadastro de Câmaras</span></a>
                        </li>
                        <!--
                        <li>
                            <a href="{% url 'camara:listar_camaras' %}"><i class="fa fa-table fa-fw"></i> Visualizar Andamento de Transporte</a>
                        </li>
                        -->
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

    </div>
    <!-- /#wrapper -->
    {% block conteudo %}
    <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                	<h2>Câmaras Rastreadas</h2>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="painel-body">
                        {% if not camaras_dict %}
                            <span class="error-message"> Nenhuma câmara rastreada </span>
                        {% endif %}
                        <div class="row">
                            
                        
                        {% for camara in camaras_dict %}
                            <div class="col-md-4">
                                <!--Card-->
                                <div class="card">
                                    <!--Card image
                                    <img class="img-fluid" src="{% static "images/transportadora.jpg" %}" alt="Card image cap">-->
            
                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Title-->
                                        <h2 id="camara-name" class="card-title">{{camara.name}}</h2>
                                        <br>
                                        <p>Órgão: {{ camara.organ }}</p>
                                        <p>Responsável: {{ camara.responsible }}</p>
                                        <p>Identificador: {{ camara.id }}</p>
                                        <!--Text-->
                                        <p class="card-text"></p>
                                        <a href="{% url 'camara:camara_info' camara.id %}" class="btn btn-primary">Ver Detalhes</a>
                                    </div>
                                </div>
                                <!--/.Card-->
                            </div> 
                        {% endfor %}
                            
                        
                        </div>
                    </h2>
                </div>
            </div>
    </div>
    {% endblock %}

    <!-- jQuery -->
    <script src="{% static "bootstrap/vendor/jquery/jquery.min.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "bootstrap/vendor/bootstrap/js/bootstrap.min.js" %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static "bootstrap/vendor/metisMenu/metisMenu.min.js" %}"></script>

    <!-- Morris Charts JavaScript -->
    <script src="{% static "bootstrap/vendor/raphael/raphael.min.js" %}"></script>
    <script src="{% static "bootstrap/vendor/morrisjs/morris.min.js" %}"></script>
    <script src="{% static "bootstrap/data/morris-data.js" %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static "bootstrap/dist/js/sb-admin-2.js" %}"></script>

</body>

</html>
